<div class="ChangePassword">
    <div class="message hide" v-if="changed" v-bind:class="{ show: changed }">Your password is successfully changed</div>
    <div class="error hide" v-if="errors.text != null" v-text="errors.text"></div>
    <div v-if="isOk && !changed">
        <h3>Enter your new password</h3>
        <label>
            <input autofocus type="password" v-model="newPassword" placeholder="New password" tabindex="2"/>
            <span class="error" v-show="errors.newPassword" v-text="errors.newPassword"></span>
        </label>
        <label>
            <input type="password" v-model="confirmPassword" placeholder="Confirm password" tabindex="3"/>
            <span class="error" v-show="errors.confirmPassword" v-text="errors.confirmPassword"></span>
        </label>
        <button class="submit focus" tabindex="11" v-on:click="change" v-bind:disabled="disabled">Change password</button>
    </div>
</div>