.ChangePassword {
    width: 40vw;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0.208vw 0.764vw 0 rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

.ChangePassword label {
    margin-bottom: 1rem;
    display: block;
}

.ChangePassword label input{
    border-radius: 0.139vw 0 0 0.139vw;
    border: 0.069vw solid #4f4e4b;
    height: 2.778vw;
    outline: none;
    display: block;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 1.111vw;
    font-weight: 300;
    text-align: left;
    color: #4f4e4b;
    padding: 0.694vw 1.042vw;
    box-sizing: border-box;
}
