extends mailBody.pug

block content
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
        tbody
            tr
                td(style="color: #ff603d; font-family: sans-serif; padding: 0 0 15px 0; font-size: 22px; line-height: 24px; font-weight: bolder;")
                    | Hello!
            tr
                td(style="color: #545454; font-family: sans-serif; font-size: 16px; line-height: 22px;")
                    h4(style="display:block; font-size: 16px; color: #ff603d;")
                        | Thank you for your registration in Raintech Continuous Integration!
                    h4(style="color: #545454;")
                        | Your login: #{email}
                    h4(style="color: #545454;")
                        | Your password: #{password}