extends mailBody.pug

block content
    table(width="100%", border="0", cellspacing="0", cellpadding="0")
        tbody
            tr
                td(style="color: #ff603d; font-family: sans-serif; padding: 0 0 15px 0; font-size: 22px; line-height: 24px; font-weight: bolder;")
                    | New user registered #{email}