extends ../index.pug

block title
    title Changing user password.

block description
    meta(name='description' content='Change Password')

block keywords
    meta(name='Keywords', content='Change password')

block content
    div(is="changePassword" inline-template)
        include ../../pages/changePassword.html