extends ../index.pug

block title
    title Raintech Continuous Integration.

block description
    meta(name='description' content='Home')

block keywords
    meta(name='Keywords', content='Raintech Continuous Integration')

block content
    div(is="frontpage" inline-template)
        include ../../pages/frontpage.html