<div class="Auth">
    <div class="panel">
        <button class="hover focus panel-button" v-on:click="loginDialog">Log In</button>
        <button class="hover focus panel-button" v-on:click="signupDialog">Sign Up</button>
    </div>
    <dialog class="form" v-on:keyup.escape="closeDialog">
        <button class="close focus" title="close" v-on:click="closeDialog"></button>
        <div class="tabs">
            <button class="tab focus" v-bind:class="{ active: tab == 0 }" v-on:click="tab = 0" tabindex="5">Log In</button>
            <button class="tab focus" v-bind:class="{ active: tab == 1 }" v-on:click="tab = 1" tabindex="6">Sign Up</button>
        </div>
        <div class="login tab-content" v-show="tab == 0">
            <label>
                <input autofocus type="text" v-model="email" placeholder="E-mail" tabindex="1"/>
                <span class="error" v-show="errors.email" v-html="errors.email"></span>
            </label>
            <label>
                <input type="password" v-model="password" placeholder="Password" tabindex="2"/>
                <span v-show="errors.password" v-html="errors.password"></span>
            </label>
            <button class="remember focus" v-on:click="restore" tabindex="3">Don`t remember your password</button>
            <button class="submit focus" tabindex="4" v-on:click="login">Log In</button>
        </div>
        <div class="signup tab-content" v-show="tab == 1">
            <label>
                <input autofocus type="text" v-model="email" placeholder="E-mail" tabindex="7"/>
                <span v-show="errors.email" v-html="errors.email"></span>
            </label>
            <label>
                <input type="password" v-model="newPassword" placeholder="New password" tabindex="8"/>
                <span v-show="errors.password" v-html="errors.newPassword"></span>
            </label>
            <label>
                <input type="password" v-model="confirmPassword" placeholder="Confirm password" tabindex="9"/>
                <span v-show="errors.password" v-html="errors.confirmPassword"></span>
            </label>
            <label>
                <input type="checkbox" v-model="agree" tabindex="10"/>
                <span>By signing up, you agree to terms of service and privacy policy</span>
                <span v-show="errors.password" v-html="errors.confirmPassword"></span>
            </label>
            <button class="submit focus" tabindex="11" v-on:click="signup">Sign Up</button>
        </div>
    </dialog>
</div>