<div class="ChangePassword">
    <div class="error" v-if="errors.text != null" v-html="errors.text"></div>
    <div v-if="cert != null">
        <h3>Enter your new password</h3>
        <label>
            <input autofocus type="password" v-model="newPassword" placeholder="New password" tabindex="2"/>
            <span v-show="errors.password" v-html="errors.newPassword"></span>
        </label>
        <label>
            <input type="password" v-model="confirmPassword" placeholder="Confirm password" tabindex="3"/>
            <span v-show="errors.password" v-html="errors.confirmPassword"></span>
        </label>
        <button class="submit focus" tabindex="11" v-on:click="change">Change password</button>
    </div>
</div>