<header id="Header">
    <div class="top">
        <nav>
            <a href="/" class="focus">
                <h1 class="logo">Raintech CI</h1>
            </a>
            <ul>
                <li>
                    <router-link to="/">Home</router-link>
                </li>
                <li class="create" v-bind:class="{ show: loaded}">
                    <button v-on:click="showDialog" v-bind:disabled="disabled">Create new project</button>
                </li>
            </ul>
        </nav>
        <dialog>
            <button class="close focus" title="close" v-on:click="closeDialog"></button>
            <label>
                <input autofocus v-model="project_name" placeholder="New project name" v-bind:disabled="disabled"
                       v-on:keypress.13="create"/>
                <span class="error" v-if="errors.project_name != null" v-text="errors.project_name"></span>
            </label>
            <div class="error" v-if="errors.message != null" v-text="errors.message"></div>
            <button class="submit focus" v-bind:disabled="disabled" v-on:click="create">Create</button>
        </dialog>
        <div class="auth_container" is="auth"></div>
    </div>
</header>