<div class="ProjectConfigs">
    <div class="content" v-if="current != null">
        <div class="layout">
            <div class="row">
                <label>
                    <span>Project name</span>
                    <input v-model="current.project_name" v-bind:disabled="disabled"/>
                </label>
                <label>
                    <span>Deploy branch</span>
                    <input v-model="current.branch" v-bind:disabled="disabled"/>
                </label>
            </div>
            <div class="tabs full">
                <button class="tab focus" v-for="tab in current.configs" v-bind:class="{ active: tab == current.currentConfig }"
                        v-text="tab" v-on:click="setActiveTab(tab)"></button>
                <button class="tab focus new" title="New configuration" v-on:click="newConfigurationDialog">+</button>
            </div>
            <div class="row" v-for="tab in current.configs" v-if="tab == current.currentConfig">
                <label class="full">
                    <span>Server credentials</span>
                    <textarea v-model="current.server_credentials[tab]" v-bind:disabled="disabled"></textarea>
                </label>
                <label class="full">
                    <span>Server project directory</span>
                    <input v-model="current.directory[tab]" v-bind:disabled="disabled"/>
                </label>
                <label>
                    <span>Test commands</span>
                    <span class="hint">The commands to check the project exists on the server</span>
                    <textarea v-model="current.test[tab]" v-bind:disabled="disabled"></textarea>
                </label>
                <label>
                    <span>Init commands</span>
                    <span class="hint">Executed when the project doesn't exists on the server</span>
                    <textarea v-model="current.init[tab]" v-bind:disabled="disabled"></textarea>
                </label>
                <label>
                    <span>Deploy commands</span>
                    <span class="hint">Executed when the project should be updated on the server</span>
                    <textarea v-model="current.deploy[tab]" v-bind:disabled="disabled"></textarea>
                </label>
                <label>
                    <span>Reload commands</span>
                    <span class="hint">The commands to reload after succcessfull update if needed</span>
                    <textarea v-model="current.reload[tab]" v-bind:disabled="disabled"></textarea>
                </label>
            </div>
        </div>
        <div class="buttons">
            <div class="message" v-bind:class="{ show: (message != null) }" v-text="(message != null) ? message : 'no message'"></div>
            <button class="submit focus green" v-on:click="update" v-bind:disabled="disabled">Update</button>
            <button class="submit focus blue" v-on:click="execute" v-bind:disabled="disabled">Execute</button>
            <button class="submit focus red" v-on:click="showRemoveDialog" v-bind:disabled="disabled">Delete</button>
            <button class="submit focus white" v-on:cick="cancel" v-bind:disabled="disabled">Cancel</button>
        </div>
    </div>
    <dialog class="removeDialog">
        <button class="close focus" title="close" v-on:click="hideDialog"></button>
        <h3>
            Please confirm to delete
            <span v-text="deleteMessage"></span>?
        </h3>
        <div class="error" v-if="errors.message != null" v-text="errors.message"></div>
        <button class="submit focus" v-on:click="remove">Delete</button>
    </dialog>
    <dialog class="configurationDialog">
        <button class="close focus" title="close" v-on:click="hideDialog"></button>
        <label>
            <input autofocus v-model="configurationName" placeholder="New configuration name" v-on:keypress.13="newConfiguration"/>
        </label>
        <div class="error" v-if="errors.message != null" v-text="errors.message"></div>
        <button class="submit focus" v-on:click="newConfiguration">Create</button>
    </dialog>
</div>