<div class="ProjectConfigs">
    <div class="content" v-if="current != null">
        <label>
            <span>Project name</span>
            <input v-model="current.project_name"/>
        </label>
        <label>
            <span>Deploy branch</span>
            <input v-model="current.branch"/>
        </label>
        <label class="full">
            <span>Project repository</span>
            <input v-model="current.repository"/>
        </label>
        <label class="full">
            <span>Server credentials</span>
            <textarea v-model="current.credentials"></textarea>
        </label>
        <label class="full">
            <span>Server project directory</span>
            <input v-model="current.project_directory"/>
        </label>
        <label>
            <span>Test commands</span>
            <span class="hint">The commands to check the project exists on the server</span>
            <textarea v-model="current.test"></textarea>
        </label>
        <label>
            <span>Init commands</span>
            <span class="hint">Executed when the project not exists on the server</span>
            <textarea v-model="current.init"></textarea>
        </label>
        <label>
            <span>Deploy commands</span>
            <span class="hint">Executed when the project should be updated on the server</span>
            <textarea v-model="current.deploy"></textarea>
        </label>
        <label>
            <span>Reload commands</span>
            <span class="hint">The commands to reaload after succcessfull update if needed</span>
            <textarea v-model="current.reload"></textarea>
        </label>
    </div>
    <div class="message" v-if="message != null" v-text="message"></div>
    <div class="buttons" v-if="current != null">
        <button class="submit focus" v-on:click="update">Update</button>
        <button class="submit cancel focus">Cancel</button>
    </div>
</div>