<div class="ProjectLogs">
    <table class="logTable">
        <thead>
            <tr>
                <td class="time header">Time</td>
                <td class="name header">Project name</td>
                <td class="branch header">Branch</td>
            </tr>
        </thead>
        <tbody class="entry" v-for="log in logs" v-bind:class="{ cmdError: hasError(log) }">
            <tr class="row">
                <td class="time column" v-text="log.event_time.format('hh:mm:ss DD MMM YYYY')"></td>
                <td class="name column" v-text="log.project_name"></td>
                <td class="branch column" v-text="log.branch"></td>
                <td class="column command">
                    <button class="cmd-btn" v-on:click="showCommits(log)">Commits</button>
                </td>
                <td v-if="log.error != null" class="column command">
                    <button v-on:click="showError(log)"></button>
                </td>
                <td class="column command" v-for="config in getConfigs(log)">
                    <button v-if="config.message == null" v-text="config.name" v-on:click="setConfig(log, config)"></button>
                    <span v-if="config.message != null" v-text="config.message"></span>
                </td>
            </tr>
            <tr class="data" v-bind:class="{ show: log.options.showData }">
                <td colspan="7" v-if="(log.options.currentConfig != null) && (log.options.currentConfig.text == 'text')" v-text="log.options.currentConfig.entry"></td>
                <td colspan="7" v-if="(log.options.currentConfig != null) && (log.options.currentConfig.text == 'config')">
                    <div class="cmd-buttons">
                        <button class="cmd-btn" v-bind:class="{ cmdError: hasConfigError(btn) }"
                                v-for="btn in getCommands(log.options.currentConfig.entry)"
                                v-text="btn.text"
                                v-on:click="setCommand(log, btn)">
                        </button>
                    </div>
                    <table class="cmdTable" v-if="(log.options.currentCommand != null) && (log.options.showCommand) && (log.options.currentCommand.entry.results.length > 0)">
                        <thead>
                            <tr>
                                <td colspan="7" class="success">
                                    <div>
                                        Success:
                                        <span v-text="log.options.currentCommand.entry.success ? 'true' : 'false'"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>code</th>
                                <th>command</th>
                                <th>cwd</th>
                                <th>stdout</th>
                                <th>stderr</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="shell in log.options.currentCommand.entry.results" v-bind:class="{ cmdError: shell.code > 0 }">
                                <td v-text="shell.code"></td>
                                <td v-text="shell.command"></td>
                                <td v-text="shell.cwd"></td>
                                <td v-text="shell.stdout"></td>
                                <td v-text="shell.stderr"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td colspan="7" v-if="(log.options.currentConfig != null) && (log.options.currentConfig.text == 'commits')">
                    <table>
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="message in log.options.currentConfig.entry">
                                <td v-text="message.author"></td>
                                <td v-text="message.message"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>