.Auth .panel {
    font-size: 2rem;
    margin-right: 4rem;
    position: relative;
}

.Auth .form {
    position: fixed;
    top: 8vw;
    width: 34.722vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 0.139vw;
    box-sizing: border-box;
    padding: 2.083vw 3.472vw;
    border: none;
}

.Auth .form::backdrop {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.Auth .form .close {
    position: absolute;
    right: -2.5vw;
    top: -2.5vw;
    border-radius: 50%;
    display: block;
    padding: 0;
    color: #e0e0e0;
    width: 2.5vw;
    height: 2.5vw;
    background: url(../images/close.svg);
    background-size: 100% 100%;
    border: none;
}

.Auth .form .close:hover {
    background-color: rgba(84, 84, 84, 0.3);
}

.Auth .form label {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: left;
}

.Auth .form .tabs {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.Auth .form .tabs .tab {
    border: none;
    background-color: inherit;
    display: block;
    width: calc(50% - 1rem);
    font-size: 1.389vw;
    font-weight: 300;
    text-align: center;
    color: #545454;
    padding: 0.694vw 0 0.694vw 0;
    border-bottom: 0.069vw solid transparent;
    margin-bottom: 2.083vw;
}

.Auth .form .tabs .tab.active {
    border-bottom: 0.069vw solid #ff603d;
    color: #ff603d;
}

.Auth .form label:first-child {
    margin-top: 0;
}

.Auth .form input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0.694vw 0;
    padding: 0.694vw 0;
    font-size: 0.972vw;
    font-weight: 300;
    text-align: left;
    color: #545454;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.069vw solid #545454;
}

.Auth .form input[type="checkbox"] {
    display: inline;
    width: auto;
}

.Auth .tab-content button {
    display: block;
    margin: 2rem auto 0 auto;
}

.Auth .tab-content button.remember {
    font-size: 0.903vw;
    font-weight: 300;
    text-align: left;
    color: #ff603d;
    margin: 1.389vw 0 0 0;
}

.Auth .tab-content button.remember:hover {
    text-decoration: underline;
}

.Auth .info {
    outline: none;
}

.Auth .info .menu {
    position: absolute;
    z-index: 2;
    width: calc(100% + 4rem);
    top: -1.35vw;
    right: -1.35vw;
    background-color: #545454;
    box-shadow: 0 0.139vw 0.278vw 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.139vw;
    display: none;
}

.Auth .info .menu.show{
    display: block;
}

.Auth .info .menu .item {
    padding: 2rem;
    display: block;
    width: 100%;
    text-align: left;
    white-space: nowrap;
}

.Auth .info .menu .item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}




