* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #e0e0e0;
    background-color: #545454;
    font-family: Roboto, sans-serif;

}

input {
    outline: 1px solid transparent;
}

.hover {
    border-left: 0.139vw solid transparent !important;
}

.hover:hover {
    border-left: 0.139vw solid #ff603d !important;
}

.focus {
    outline: 1px solid transparent;
}

.focus:focus {
    outline: 1px dashed #ff603d;
}

.focus.without-border:focus {
    border: none;
    color: #00BFFF;
}

.transition {
    transition: all 1s ease 0s;
}

#CI {

}

#Center {
    min-height: 32vw;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h2 {
    word-wrap: break-word;
    font-size: 2.571rem;
    margin: 0;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

h3 {
    word-wrap: break-word;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    color: inherit;
    font-size: inherit;
}

.panel-button {
    border: none;
    font-size: inherit;
    text-align: left;
    color: #e0e0e0;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 1rem 0 1rem;
}

.error {
    color: #ff603d;
    display: block;
    margin-top: 0.5rem;
}

.submit {
    width: 13.889vw;
    height: 4.167vw;
    border-radius: 0.139vw;
    border: solid 0.069vw #ff603d;
    margin: 2.083vw auto;
    display: block;
    font-size: 1.389vw;
    font-weight: 300;
    text-align: center;
    color: #ff603d;
    background: none;
    cursor: pointer;
}

.submit:hover {
    background-color: rgba(255, 96, 61, 0.3);
}

.submit[disabled] {
    border: solid 0.069vw #ccc;
    color: #ccc;
    cursor: default;
}

.submit[disabled]:hover {
    background-color: transparent;
}

.message {
    color: forestgreen;
    font-size: 1.2rem;
}

.orange {
    color: #ff603d;
}

.hide {
    display: none;
}