.ProjectConfigs .content {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.ProjectConfigs .layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 1rem;
}

.ProjectConfigs .layout label {
    display: block;
    width: 48%;
    margin-bottom: 1rem;
}

.ProjectConfigs .layout label:nth-child(1) {
    margin-bottom: 0;
}

.ProjectConfigs .layout label:nth-child(2) {
    margin-bottom: 0;
}

.ProjectConfigs .layout label.full {
    width: 100%;
}

.ProjectConfigs .layout label span {
    display: block;
}

.ProjectConfigs .layout label span.hint {
    font-style: italic;
    color: #cccccc;
    font-size: 0.7rem;
}

.ProjectConfigs .layout label textarea {
    display: block;
    width: 100%;
    min-height: 5vw;
    min-width: 100%;
    max-width: 100%;
}

.ProjectConfigs .layout label input {
    display: block;
    width: 100%;
}

.ProjectConfigs .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem 0 4rem;
    flex-wrap: wrap;
}

.ProjectConfigs .buttons .submit {
    margin: 0;
    font-size: 1.1rem;
    height: auto;
    width: 23%;
    padding: 1rem;
}

.ProjectConfigs .buttons .submit.cancel {
    color: white;
    border: 1px solid white;
}

.ProjectConfigs .buttons .submit.cancel:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.ProjectConfigs .message {
    width: 100%;
    margin-bottom: 0.5rem;
    visibility: hidden;
}

.ProjectConfigs .message.show {
    visibility: visible;
}
