.Frontpage {
    height: 100%;
    display: none;
}

.Frontpage.show {
    display: block;
}

.Frontpage > .content {
    padding: 0 8rem 0 8rem;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.Frontpage .content .projects {
    width: 18%;
    height: 100%;
}

.Frontpage > .content .configs {
    width: 0;
    overflow: visible;
    border: 1px solid #fff;
    padding: 0;
    height: 100%;
}

.Frontpage > .content .configs.show {
    border-radius: 0.139vw;
    width: 51.5%;
    padding: 1rem 0 1rem 1rem;
}

.Frontpage > .content .logs {
    width: 30%;
    border-radius: 0.139vw;
    border: 1px solid #fff;
}

.Frontpage > .content .logs.fullLength {
    width: 81.5%;
    border-radius: 0.139vw;
    border: 1px solid #fff;
}

.Frontpage .info {
    text-align: center;
    font-size: 2rem;
    margin-top: 15rem;
}

.Frontpage .info button:hover {
    text-decoration: underline;
}
